.search-container{

    display:flex;
    justify-content:center;

    margin-top:10px;

}

.search-box{

    width:850px;
    height:70px;

    background:white;

    border-radius:50px;

    display:flex;
    align-items:center;

    box-shadow:0 3px 15px rgba(0,0,0,.15);

}

.search-item{

    flex:1;

    padding-left:30px;

}

.search-item h5{

    font-size:13px;

    margin-bottom:4px;

}

.search-item p{

    color:#717171;

    font-size:15px;

}

.divider{

    width:1px;
    height:35px;

    background:#ddd;

}

.search-btn{

    width:52px;
    height:52px;

    border:none;

    border-radius:50%;

    background:#FF385C;

    color:white;

    margin-right:10px;

    font-size:20px;

    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;

}